@model RMS.Models.LookupDTO
@{
    ViewBag.Title = "Lookup";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@using (Html.BeginForm("LookupCreate", "AgreementInfo", FormMethod.Post, new { id = "frmSubmit", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <section class="content" style="padding-top:15px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-bolt"></i><span>&nbsp;&nbsp;Lookup</span></h3>
                        </div>
                        <div class="card-body">
                            <div class="row" style="padding-top:10px; padding-bottom:0px;">
                                <div class="required col-xs-12 col-sm-4 col-md-3">
                                    @Html.Label("Group Name", new { @class = "control-label" })
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-3">
                                    @Html.DropDownListFor(model => model.GroupName, new SelectList(ViewBag.LookupList, "Text", "Text"), "Select Group Name", new { style = "width: 350px;", @class = "chosen form-control input-sm", id = "ddlGroupName" })
                                </div>
                            </div>
                            <div class="row" style="padding-top:10px; padding-bottom:0px;">
                                <div class="required col-xs-12 col-sm-4 col-md-3">
                                    @Html.Label("Code", new { @class = "control-label" })
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-3">
                                    @Html.TextBoxFor(model => model.Code, new { style = "width: 350px;", autocomplete = "off", @class = "form-control input-sm", id = "txtCode" })
                                </div>
                            </div>
                            <div class="row" style="padding-top:10px; padding-bottom:0px;">
                                <div class="required col-xs-12 col-sm-4 col-md-3">
                                    @Html.Label("Description", new { @class = "control-label" })
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-3">
                                    @Html.TextBoxFor(model => model.Description, new { style = "width: 350px;", autocomplete = "off", @class = "form-control input-sm", id = "txtDescription" })
                                </div>
                            </div>
                            <div class="row" style="padding-top:10px; padding-bottom:0px;">
                                <div class="col-xs-12 col-sm-4 col-md-3">
                                    @Html.Label("Parent Code", new { @class = "control-label" })
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-3">
                                    @Html.TextBoxFor(model => model.ParentCode, new { style = "width: 350px;", autocomplete = "off", @class = "form-control input-sm", id = "txtParentCode" })
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <span>Fields marked with an asterisk &nbsp;</span><span style="color:red;"><b>*</b></span><span>&nbsp; are mandatory.</span>
                            <button type="button" class="btn btn-success" style="float: right;"
                                    id="btnSave">
                                <i class="fas fa-save"></i>
                                <span>&nbsp;Save</span>
                            </button>
                            <button type="button" class="btn btn-warning" style="float: right; margin-right:15px;"
                                    id="btnFormBack" onclick="return BackValidator();">
                                <i class="fas fa-reply"></i>
                                <span>&nbsp;Back to List</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<style type="text/css">
    .form-control {
        width: auto;
    }

    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>
<style type="text/css" media="screen">
    #spinner {
        position: fixed;
        top: -18%;
        left: 30%;
    }
</style>

<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Template/plugins/jquery-ui/jquery-ui.js"></script>
<script src="~/Scripts/notify.js"></script>
<script src="~/Scripts/SweetAlert2/sweetalert2.all.min.js"></script>
<script src="~/Scripts/SweetAlert2/sweetalert2.min.js"></script>

<script src="~/Template/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Template/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Template/plugins/jszip/jszip.min.js"></script>
<script src="~/Template/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/Template/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/Template/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/Template/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/Template/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="~/Template/plugins/datatables-select/js/dataTables.select.min.js"></script>

<link href="~/Template/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
<link href="~/Template/plugins/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Template/plugins/buttons.dataTables.css" rel="stylesheet" />
<link href="~/Template/plugins/dataTables.bootstrap5.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="~/Content/chosen.min.css" />
<script type="text/javascript" src="~/Scripts/chosen.jquery.min.js"></script>

<script type="text/javascript">
    //$(".chosen").chosen({ max_selected_options: 2 });
    $(".chosen-deselect").chosen({ allow_single_deselect: true });
    $(".chosen").chosen().change();
    $(".chosen").trigger('liszt:updated');
</script>

<script type="text/javascript">
    $(document).ready(function () {
        //$("#ddlGroupName").chosen({ width: '100%' })
    });
</script>
<script type="text/javascript">

    function BackValidator() {
        window.location.href = "/AgreementInfo/LookupIndex";
    }

    $('#btnSave').on('click', function () {
        //==Validation
        if ($("#ddlGroupName").val() == 0 || $("#ddlGroupName").val() == "") {
            Swal.fire({
                icon: 'warning',
                title: 'Please select the Group Name!',
                text: 'Validation Message!',
            })
            return false;
        }
        if ($("#txtCode").val() == "" || $("#txtCode").val() == null) {
            Swal.fire({
                icon: 'warning',
                title: 'Enter the code!',
                text: 'Validation Message!',
            })
            return false;
        }
        if ($("#txtDescription").val() == "" || $("#txtDescription").val() == null) {
            Swal.fire({
                icon: 'warning',
                title: 'Enter the description!',
                text: 'Validation Message!',
            })
            return false;
        }
        //==Save to Submit Form
        Swal.fire({
            title: "Are you sure to save the lookup?",
            text: "Please review all required information entered!",
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes,&nbsp;Save'
        }).then((result) => {
            if (result.value) {
                //==Check Premise Code and Type Exist
                $('#spinner').show();
                //==Submit Post
                var headers = { __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() };
                $.ajax({
                    type: "POST",
                    headers: headers,
                    url: "/AgreementInfo/LookupCreate",
                    data: $('#frmSubmit').serialize(),
                    success: function (response) {
                        $('#spinner').hide();
                        if (response.CheckStatus == true) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Lookup has been created.',
                                text: 'Redirecting in 3 seconds.',
                                timer: 3000,
                                showConfirmButton: false
                            }).then(function () {
                                window.location.href = "/AgreementInfo/LookupIndex";
                            });
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Lookup not created, execution not possible!',
                                text: 'Something went wrong!',
                            })
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
                //==
            }
        });
    });
</script>