@model IEnumerable<RMS.Models.RentAPJournalInfoDTO>
@{
    ViewBag.Title = "Rent AP Journal";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@Html.AntiForgeryToken()
<section class="content" style="padding-top:15px;">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-anchor"></i><span>&nbsp;&nbsp;Rent AP Journal - @ViewBag.DateRange</span></h3>
                    <div id="spinner" style="display: none;padding-top:50px; padding-bottom:20px; padding-left:100px;">
                        <img id="img-spinner" src="@Url.Content("~/Content/Images/spinner.gif")" alt="Loading" />
                    </div>
                </div>
                <div class="card-body">
                    <table id="summary" class="display compact table table-striped table-bordered mt-2">
                        <thead>
                            <tr>
                                <th class="text-center">Action</th>
                                <th>
                                    @Html.DisplayName("Posting ID")
                                </th>
                                <th>
                                    @Html.DisplayName("Posting Date")
                                </th>
                                <th>
                                    @Html.DisplayName("Posted Year")
                                </th>
                                <th>
                                    @Html.DisplayName("Posted Month")
                                </th>
                                <th>
                                    @Html.DisplayName("User ID")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">
                                        @Html.ActionLink(" ", "RedirectRentAPJournalDetails", new { PostingID = item.PostingID }, new { @Title = "Rent AP Journal", @class = "btn btn-info fas fa-folder-open" })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PostingID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PostingDate, "{0:dd/MM/yyyy}")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LogYear)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LogMonth)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserID)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <span>Click the &nbsp;</span><span style="color:darkblue;" class="card-title fas fa-check-circle float-lg-none">&nbsp;Copy-Excel-PDF-Print-Column-Visibility</span><span>&nbsp; button at the top left to export the report</span><span>&nbsp;and Click the &nbsp;</span><span style="color:teal;" class="card-title fas fa-folder-open float-lg-none">&nbsp;Details</span><span>&nbsp; button at the left to open the journal details.</span>
                    <button type="button" class="btn btn-warning" style="float: right;"
                            id="btnFormBack" onclick="return BackValidator();">
                        <i class="fas fa-reply"></i>
                        <span>&nbsp;Back</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<style type="text/css">
    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>
<style type="text/css" media="screen">
    #spinner {
        position: fixed;
        top: -18%;
        left: 30%;
    }
</style>
<style type="text/css" media="screen">
    /*    .dt-button-collection .dt-button.buttons-columnVisibility {
        background: none !important;
        background-color: transparent !important;
        box-shadow: none !important;
        border: none !important;
        padding: 0.25em 1em !important;
        margin: 0 !important;
        text-align: left !important;
    }*/

    .dt-button-collection .buttons-columnVisibility:before,
    .dt-button-collection .buttons-columnVisibility.active span:before {
        display: block;
        position: absolute;
        top: 1.2em;
        left: 0;
        width: 12px;
        height: 12px;
        box-sizing: border-box;
    }

    .dt-button-collection .buttons-columnVisibility:before {
        content: ' ';
        margin-top: -8px;
        margin-left: 10px;
        border: 1px solid black;
        border-radius: 3px;
    }

    .dt-button-collection .buttons-columnVisibility.active span:before {
        color: green;
        font-family: 'Arial' !important;
        content: '\2714';
        margin-top: -15px;
        margin-left: 12px;
        text-align: center;
        text-shadow: 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    }

    .dt-button-collection .buttons-columnVisibility span {
        margin-left: 17px;
    }
</style>

<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Template/plugins/jquery-ui/jquery-ui.js"></script>
<script src="~/Scripts/notify.js"></script>
<script src="~/Scripts/SweetAlert2/sweetalert2.all.min.js"></script>
<script src="~/Scripts/SweetAlert2/sweetalert2.min.js"></script>

<script src="~/Template/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Template/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Template/plugins/jszip/jszip.min.js"></script>
<script src="~/Template/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/Template/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/Template/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/Template/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/Template/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="~/Template/plugins/datatables-select/js/dataTables.select.min.js"></script>

<link href="~/Template/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
<link href="~/Template/plugins/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Template/plugins/buttons.dataTables.css" rel="stylesheet" />
<link href="~/Template/plugins/dataTables.bootstrap5.css" rel="stylesheet" />

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#spinner').show();
        $('#summary').DataTable({
            dom: 'Blfrtip',
            responsive: true,
            AutoWidth: true,
            select: true,
            searching: true,
            //pageLength: -1,
            paging: true,
            order: [[1, "asc"]],
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            buttons: [
                {
                    extend: 'copyHtml5',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excelHtml5',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                        //columns: [0, 1, 2, 5]
                    }
                },
                {
                    extend: 'print',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'colvis',
                    orientation: 'landscape',
                    collectionLayout: 'fixed three-column'
                }
            ],
        });
        $('#spinner').hide();
    });
</script>
<script type="text/javascript">
    function BackValidator() {
        window.location.href = "/AgreementInfo/RentAPReport";
    }
</script>