@model IEnumerable<RMS.Models.UtilityScheduleDTO>
@{
    ViewBag.Title = "Agreement - List by Utility";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@Html.AntiForgeryToken()
<section class="content" style="padding-top:15px;">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card card-info card-tabs">
                <div class="card-header p-0 pt-1">
                    <div id="spinner" style="display: none;padding-top:50px; padding-bottom:20px; padding-left:100px;">
                        <img id="img-spinner" src="@Url.Content("~/Content/Images/spinner.gif")" alt="Loading" />
                    </div>
                    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                        <li class="pt-1 px-3"><h3 class="card-title"><i class="fas fa-building"></i><span>&nbsp;&nbsp;Agreement - List by Utility</span></h3></li>
                        <li class="nav-item">
                            <a class="nav-link active nav-icon fas fa-sitemap" id="custom-tabs-one-BasicInfo-tab" data-toggle="pill"
                               href="#custom-tabs-one-BasicInfo" role="tab" aria-controls="custom-tabs-one-BasicInfo" aria-selected="true">&nbsp;&nbsp;Planned</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fas fa-check" id="custom-tabs-one-AgreementInfo-tab" data-toggle="pill"
                               href="#custom-tabs-one-AgreementInfo" role="tab" aria-controls="custom-tabs-one-AgreementInfo" aria-selected="false">&nbsp;&nbsp;Actual</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="custom-tabs-one-tabContent">
                        <div class="tab-pane fade show active" id="custom-tabs-one-BasicInfo" role="tabpanel" aria-labelledby="custom-tabs-one-BasicInfo-tab">
                            @*//==Planned*@
                            <div class="container-fluid">
                                <div class="col-md-12">
                                    <div class="card card-info">
                                        <div class="card-header">
                                            <h3 class="card-title"><i class="fas fa-sitemap"></i><span>&nbsp;&nbsp;Planned</span></h3>
                                        </div>
                                        <div class="card-body">
                                            <table id="summary1" class="display compact table table-striped table-bordered mt-2">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @Html.DisplayName("SL No")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Agr Code")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Terminated Status")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Terminated Date")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Agr Name")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Premise Type")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Premise Name")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Vendor Code")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Landlord Name")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Start Date")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("End Date")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Schedule No")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Month No")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Year)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Month)
                                                        </th>
                                                        <th class="text-right">
                                                            @Html.DisplayName("Service Charge %")
                                                        </th>
                                                        <th class="text-right">
                                                            @Html.DisplayName("Service Charge")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Online Tower %")
                                                        </th>
                                                        <th class="text-right">
                                                            @Html.DisplayName("Online Tower")
                                                        </th>
                                                        <th class="text-right">
                                                            @Html.DisplayName("Generator Space %")
                                                        </th>
                                                        <th class="text-right">
                                                            @Html.DisplayName("Generator Space")
                                                        </th>
                                                        <th class="text-right">
                                                            @Html.DisplayName("Car Parking %")
                                                        </th>
                                                        <th class="text-right">
                                                            @Html.DisplayName("Car Parking")
                                                        </th>
                                                        <th class="text-right" style="width: 100px;">
                                                            @Html.DisplayName("Tax %")
                                                        </th>
                                                        <th class="text-right" style="width: 100px;">
                                                            @Html.DisplayName("Tax")
                                                        </th>
                                                        <th class="text-right" style="width: 100px;">
                                                            @Html.DisplayName("VAT %")
                                                        </th>
                                                        <th class="text-right" style="width: 100px;">
                                                            @Html.DisplayName("VAT")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.UserID)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.EntryDate)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("AP")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("AP Posting ID")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("AP Posting Date")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Payment")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Pay Posting ID")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Pay Posting Date")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Cost Center")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("SOL")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Tax Type")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("VAT Type")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Mode of Payment")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Bank Name")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Branch Name")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("A/C No")
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.SLNO)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.AliasCode)
                                                            </td>
                                                            <td>
                                                                @if (item.BlockText == "Open")
                                                                {
                                                                    @Html.DisplayFor(modelItem => item.BlockText)
                                                                }
                                                                else
                                                                {
                                                                    <span style="color:red; font-weight:bold;">@Html.DisplayFor(modelItem => item.BlockText)</span>
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (item.BlockDate == null)
                                                                {

                                                                }
                                                                else
                                                                {
                                                                    @Convert.ToDateTime(item.BlockDate).ToString("dd/MM/yyyy")
                                                                }
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.AgreementName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.PremiseType)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.PremiseName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.VendorCode)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.LandlordName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.AgreementStartDate, "{0:dd/MM/yyyy}")
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.AgreementEndDate, "{0:dd/MM/yyyy}")
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.AgreementPeriod)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.MonthNo)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Year)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Month)
                                                            </td>
                                                            <td class="text-right">
                                                                @Html.DisplayFor(modelItem => item.ServiceChargePC)
                                                            </td>
                                                            <td class="text-right">
                                                                @Html.DisplayFor(modelItem => item.ServiceChargeAmount)
                                                            </td>
                                                            <td class="text-right">
                                                                @Html.DisplayFor(modelItem => item.OnlineTowerPC)
                                                            </td>
                                                            <td class="text-right">
                                                                @Html.DisplayFor(modelItem => item.OnlineTowerAmount)
                                                            </td>
                                                            <td class="text-right">
                                                                @Html.DisplayFor(modelItem => item.GeneratorSpacePC)
                                                            </td>
                                                            <td class="text-right">
                                                                @Html.DisplayFor(modelItem => item.GeneratorSpaceAmount)
                                                            </td>
                                                            <td class="text-right">
                                                                @Html.DisplayFor(modelItem => item.CarParkingPC)
                                                            </td>
                                                            <td class="text-right">
                                                                @Html.DisplayFor(modelItem => item.CarParkingAmount)
                                                            </td>
                                                            <td class="text-right">
                                                                @Html.DisplayFor(modelItem => item.UtilityTaxPC)
                                                            </td>
                                                            <td class="text-right">
                                                                @Html.DisplayFor(modelItem => item.UtilityTaxAmount)
                                                            </td>
                                                            <td class="text-right">
                                                                @Html.DisplayFor(modelItem => item.UtilityVATPC)
                                                            </td>
                                                            <td class="text-right">
                                                                @Html.DisplayFor(modelItem => item.UtilityVATAmount)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.UserID)
                                                            </td>
                                                            <td class="text-right">
                                                                @Html.DisplayFor(modelItem => item.EntryDate, "{0:dd/MM/yyyy}")
                                                            </td>
                                                            @*//==AP Post Status*@
                                                            <td>
                                                                @if (item.PostText == "Unposted")
                                                                {
                                                                    @Html.DisplayFor(modelItem => item.PostText)
                                                                }
                                                                else
                                                                {
                                                                    <span style="color:blueviolet; font-weight:bold;">@Html.DisplayFor(modelItem => item.PostText)</span>
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (item.PostingID == null)
                                                                {

                                                                }
                                                                else
                                                                {
                                                                    @Html.DisplayFor(modelItem => item.PostingID)
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (item.PostingDate == null)
                                                                {

                                                                }
                                                                else
                                                                {
                                                                    @Convert.ToDateTime(item.PostingDate).ToString("dd/MM/yyyy")
                                                                }
                                                            </td>
                                                            @*//==Payment Post Status*@
                                                            <td>
                                                                @if (item.PJPostText == "Unposted")
                                                                {
                                                                    @Html.DisplayFor(modelItem => item.PJPostText)
                                                                }
                                                                else
                                                                {
                                                                    <span style="color:blueviolet; font-weight:bold;">@Html.DisplayFor(modelItem => item.PJPostText)</span>
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (item.PJPostingID == null)
                                                                {

                                                                }
                                                                else
                                                                {
                                                                    @Html.DisplayFor(modelItem => item.PJPostingID)
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (item.PJPostingDate == "")
                                                                {

                                                                }
                                                                else
                                                                {
                                                                    @Convert.ToDateTime(item.PJPostingDate).ToString("dd/MM/yyyy")
                                                                }
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.CCCode) - @Html.DisplayFor(modelItem => item.CCName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.SOLCode) - @Html.DisplayFor(modelItem => item.SOLName)
                                                            </td>
                                                            <td>
                                                                @if (item.TaxType == 1)
                                                                {
                                                                    <span>Inclusive</span>
                                                                }
                                                                else if (item.TaxType == 2)
                                                                {
                                                                    <span>Exclusive</span>
                                                                }
                                                                else if (item.TaxType == 3)
                                                                {
                                                                    <span>Exempted</span>
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (item.VatType == 1)
                                                                {
                                                                    <span>Inclusive</span>
                                                                }
                                                                else if (item.VatType == 2)
                                                                {
                                                                    <span>Exclusive</span>
                                                                }
                                                                else if (item.VatType == 3)
                                                                {
                                                                    <span>Exempted</span>
                                                                }
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.ModeOfPaymentText)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.BankName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.BranchName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.ACNo)
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="card-footer">
                                            <span>Click the &nbsp;</span><span style="color:darkblue;" class="card-title fas fa-check-circle float-lg-none">&nbsp;Copy-Excel-PDF-Print-Column-Visibility</span><span>&nbsp; button at the top left to export the report.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*//==End*@
                        </div>
                        <div class="tab-pane fade" id="custom-tabs-one-AgreementInfo" role="tabpanel" aria-labelledby="custom-tabs-one-AgreementInfo-tab">
                            @*//==Actual*@
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card card-info">
                                            <div class="card-header">
                                                <h3 class="card-title"><i class="fas fa-check"></i><span>&nbsp;&nbsp;Actual</span></h3>
                                            </div>
                                            <div class="card-body">
                                                <table id="summary2" class="display compact table table-striped table-bordered mt-2">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                @Html.DisplayName("Agr Code")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("Terminated Status")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("Terminated Date")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("Agr Name")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("Premise Type")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("Premise Name")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("Vendor Code")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("Landlord Name")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("Start Date")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("End Date")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("Schedule No")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("Month No")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.Year)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.Month)
                                                            </th>
                                                            <th class="text-right">
                                                                @Html.DisplayName("Service Charge %")
                                                            </th>
                                                            <th class="text-right">
                                                                @Html.DisplayName("Service Charge")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("Online Tower %")
                                                            </th>
                                                            <th class="text-right">
                                                                @Html.DisplayName("Online Tower")
                                                            </th>
                                                            <th class="text-right">
                                                                @Html.DisplayName("Generator Space %")
                                                            </th>
                                                            <th class="text-right">
                                                                @Html.DisplayName("Generator Space")
                                                            </th>
                                                            <th class="text-right">
                                                                @Html.DisplayName("Car Parking %")
                                                            </th>
                                                            <th class="text-right">
                                                                @Html.DisplayName("Car Parking")
                                                            </th>
                                                            <th class="text-right" style="width: 100px;">
                                                                @Html.DisplayName("Tax %")
                                                            </th>
                                                            <th class="text-right" style="width: 100px;">
                                                                @Html.DisplayName("Tax")
                                                            </th>
                                                            <th class="text-right" style="width: 100px;">
                                                                @Html.DisplayName("VAT %")
                                                            </th>
                                                            <th class="text-right" style="width: 100px;">
                                                                @Html.DisplayName("VAT")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.UserID)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.EntryDate)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("AP")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("AP Posting ID")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("AP Posting Date")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("Payment")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("Pay Posting ID")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("Pay Posting Date")
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model)
                                                        {
                                                            if (item.IsPJPosted == true)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.AliasCode)
                                                                    </td>
                                                                    <td>
                                                                        @if (item.BlockText == "Open")
                                                                        {
                                                                            @Html.DisplayFor(modelItem => item.BlockText)
                                                                        }
                                                                        else
                                                                        {
                                                                            <span style="color:red; font-weight:bold;">@Html.DisplayFor(modelItem => item.BlockText)</span>
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        @if (item.BlockDate == null)
                                                                        {

                                                                        }
                                                                        else
                                                                        {
                                                                            @Convert.ToDateTime(item.BlockDate).ToString("dd/MM/yyyy")
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.AgreementName)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.PremiseType)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.PremiseName)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.VendorCode)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.LandlordName)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.AgreementStartDate, "{0:dd/MM/yyyy}")
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.AgreementEndDate, "{0:dd/MM/yyyy}")
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.AgreementPeriod)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.MonthNo)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Year)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Month)
                                                                    </td>
                                                                    <td class="text-right">
                                                                        @Html.DisplayFor(modelItem => item.ServiceChargePC)
                                                                    </td>
                                                                    <td class="text-right">
                                                                        @Html.DisplayFor(modelItem => item.ServiceChargeAmount)
                                                                    </td>
                                                                    <td class="text-right">
                                                                        @Html.DisplayFor(modelItem => item.OnlineTowerPC)
                                                                    </td>
                                                                    <td class="text-right">
                                                                        @Html.DisplayFor(modelItem => item.OnlineTowerAmount)
                                                                    </td>
                                                                    <td class="text-right">
                                                                        @Html.DisplayFor(modelItem => item.GeneratorSpacePC)
                                                                    </td>
                                                                    <td class="text-right">
                                                                        @Html.DisplayFor(modelItem => item.GeneratorSpaceAmount)
                                                                    </td>
                                                                    <td class="text-right">
                                                                        @Html.DisplayFor(modelItem => item.CarParkingPC)
                                                                    </td>
                                                                    <td class="text-right">
                                                                        @Html.DisplayFor(modelItem => item.CarParkingAmount)
                                                                    </td>
                                                                    <td class="text-right">
                                                                        @Html.DisplayFor(modelItem => item.UtilityTaxPC)
                                                                    </td>
                                                                    <td class="text-right">
                                                                        @Html.DisplayFor(modelItem => item.UtilityTaxAmount)
                                                                    </td>
                                                                    <td class="text-right">
                                                                        @Html.DisplayFor(modelItem => item.UtilityVATPC)
                                                                    </td>
                                                                    <td class="text-right">
                                                                        @Html.DisplayFor(modelItem => item.UtilityVATAmount)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.UserID)
                                                                    </td>
                                                                    <td class="text-right">
                                                                        @Html.DisplayFor(modelItem => item.EntryDate, "{0:dd/MM/yyyy}")
                                                                    </td>
                                                                    @*//==AP Post Status*@
                                                                    <td>
                                                                        @if (item.PostText == "Unposted")
                                                                        {
                                                                            @Html.DisplayFor(modelItem => item.PostText)
                                                                        }
                                                                        else
                                                                        {
                                                                            <span style="color:blueviolet; font-weight:bold;">@Html.DisplayFor(modelItem => item.PostText)</span>
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        @if (item.PostingID == null)
                                                                        {

                                                                        }
                                                                        else
                                                                        {
                                                                            @Html.DisplayFor(modelItem => item.PostingID)
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        @if (item.PostingDate == null)
                                                                        {

                                                                        }
                                                                        else
                                                                        {
                                                                            @Convert.ToDateTime(item.PostingDate).ToString("dd/MM/yyyy")
                                                                        }
                                                                    </td>
                                                                    @*//==Payment Post Status*@
                                                                    <td>
                                                                        @if (item.PJPostText == "Unposted")
                                                                        {
                                                                            @Html.DisplayFor(modelItem => item.PJPostText)
                                                                        }
                                                                        else
                                                                        {
                                                                            <span style="color:blueviolet; font-weight:bold;">@Html.DisplayFor(modelItem => item.PJPostText)</span>
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        @if (item.PJPostingID == null)
                                                                        {

                                                                        }
                                                                        else
                                                                        {
                                                                            @Html.DisplayFor(modelItem => item.PJPostingID)
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        @if (item.PJPostingDate == "")
                                                                        {

                                                                        }
                                                                        else
                                                                        {
                                                                            @Convert.ToDateTime(item.PJPostingDate).ToString("dd/MM/yyyy")
                                                                        }
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="card-footer">
                                                <span>Click the &nbsp;</span><span style="color:darkblue;" class="card-title fas fa-check-circle float-lg-none">&nbsp;Copy-Excel-PDF-Print-Column-Visibility</span><span>&nbsp; button at the top left to export the report.</span>
                                            </div>
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                </div>
                            </div>
                            @*//==End*@
                        </div>
                    </div>
                </div>
                <div class="card-footer" style="text-align:right;">
                    <button type="button" class="btn btn-warning" style="float: right;"
                            id="btnFormBack" onclick="return BackValidator();">
                        <i class="fas fa-reply"></i>
                        <span>&nbsp;Back to List</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<style type="text/css">
    .form-control {
        width: auto;
    }

    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>
<style type="text/css" media="screen">
    #spinner {
        position: fixed;
        top: -18%;
        left: 30%;
    }
</style>
<style type="text/css" media="screen">
    /*    .dt-button-collection .dt-button.buttons-columnVisibility {
        background: none !important;
        background-color: transparent !important;
        box-shadow: none !important;
        border: none !important;
        padding: 0.25em 1em !important;
        margin: 0 !important;
        text-align: left !important;
    }*/

    .dt-button-collection .buttons-columnVisibility:before,
    .dt-button-collection .buttons-columnVisibility.active span:before {
        display: block;
        position: absolute;
        top: 1.2em;
        left: 0;
        width: 12px;
        height: 12px;
        box-sizing: border-box;
    }

    .dt-button-collection .buttons-columnVisibility:before {
        content: ' ';
        margin-top: -8px;
        margin-left: 10px;
        border: 1px solid black;
        border-radius: 3px;
    }

    .dt-button-collection .buttons-columnVisibility.active span:before {
        color: green;
        font-family: 'Arial' !important;
        content: '\2714';
        margin-top: -15px;
        margin-left: 12px;
        text-align: center;
        text-shadow: 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    }

    .dt-button-collection .buttons-columnVisibility span {
        margin-left: 17px;
    }
</style>

<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Template/plugins/jquery-ui/jquery-ui.js"></script>
<script src="~/Scripts/notify.js"></script>
<script src="~/Scripts/SweetAlert2/sweetalert2.all.min.js"></script>
<script src="~/Scripts/SweetAlert2/sweetalert2.min.js"></script>

<script src="~/Template/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Template/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Template/plugins/jszip/jszip.min.js"></script>
<script src="~/Template/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/Template/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/Template/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/Template/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/Template/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="~/Template/plugins/datatables-select/js/dataTables.select.min.js"></script>
<script src="~/Template/plugins/datatables-colreorder/js/dataTables.colReorder.min.js"></script>

<link href="~/Template/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
<link href="~/Template/plugins/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Template/plugins/buttons.dataTables.css" rel="stylesheet" />
<link href="~/Template/plugins/dataTables.bootstrap5.css" rel="stylesheet" />

<!-- Font Awesome -->
<link rel="stylesheet" href="~/Template/plugins/fontawesome-free/css/all.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/Template/dist/css/adminlte.min.css">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="~/Template/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#spinner').show();
        $('#summary1').DataTable({
            dom: 'Blfrtip',
            responsive: true,
            colReorder: true,
            AutoWidth: true,
            select: true,
            searching: true,
            //pageLength: -1,
            paging: true,
            order: [[0, "asc"]],
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            columnDefs: [
                { "visible": false, "targets": 3 },
                { "visible": false, "targets": 5 },
                { "visible": false, "targets": 9 },
                { "visible": false, "targets": 10 },
                { "visible": false, "targets": 11 },
                { "visible": false, "targets": 12 },
                { "visible": false, "targets": 15 },
                { "visible": false, "targets": 17 },
                { "visible": false, "targets": 19 },
                { "visible": false, "targets": 21 },
                { "visible": false, "targets": 23 },
                { "visible": false, "targets": 25 },
                { "visible": false, "targets": 27 },
                { "visible": false, "targets": 28 },
                { "visible": false, "targets": 30 },
                { "visible": false, "targets": 31 },
                { "visible": false, "targets": 33 },
                { "visible": false, "targets": 34 },
                { "visible": false, "targets": 35 },
                { "visible": false, "targets": 36 },
                { "visible": false, "targets": 37 },
                { "visible": false, "targets": 38 },
                { "visible": false, "targets": 39 },
                { "visible": false, "targets": 40 },
                { "visible": false, "targets": 41 },
                { "visible": false, "targets": 42 },
            ],
            buttons: [
                {
                    extend: 'copyHtml5',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excelHtml5',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                        //columns: [0, 1, 2, 5]
                    }
                },
                {
                    extend: 'print',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'colvis',
                    orientation: 'landscape',
                    collectionLayout: 'fixed three-column'
                },
                {
                    extend: 'colvisGroup',
                    text: 'Show all columns',
                    show: ':hidden'
                },
            ],
        });
        $('#summary2').DataTable({
            dom: 'Blfrtip',
            responsive: true,
            AutoWidth: true,
            select: true,
            searching: true,
            pageLength: -1,
            //paging: true,
            order: [[0, "asc"]],
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            columnDefs: [
                { "visible": false, "targets": 2 },
                { "visible": false, "targets": 4 },
                { "visible": false, "targets": 8 },
                { "visible": false, "targets": 9 },
                { "visible": false, "targets": 10 },
                { "visible": false, "targets": 11 },
                { "visible": false, "targets": 14 },
                { "visible": false, "targets": 16 },
                { "visible": false, "targets": 18 },
                { "visible": false, "targets": 20 },
                { "visible": false, "targets": 22 },
                { "visible": false, "targets": 23 },
                { "visible": false, "targets": 24 },
                { "visible": false, "targets": 25 },
                { "visible": false, "targets": 26 },
                { "visible": false, "targets": 27 },
            ],
            buttons: [
                {
                    extend: 'copyHtml5',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excelHtml5',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                        //columns: [0, 1, 2, 5]
                    }
                },
                {
                    extend: 'print',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'colvis',
                    orientation: 'landscape',
                    collectionLayout: 'fixed three-column'
                },
                {
                    extend: 'colvisGroup',
                    text: 'Show all columns',
                    show: ':hidden'
                },
            ],
        });
        $('#spinner').hide();
    });
</script>

<script type="text/javascript">
    function BackValidator() {
        window.location.href = "/AgreementInfo/RedirectAgreementIndex?ViewID=24";
    }
</script>