@model IEnumerable<RMS.Models.UtilityVendorPJExecuteLogDTO>
@{
    ViewBag.Title = "Utility Payment Journal - Log Details";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.FirstOrDefault().LogIDList)
<section class="content" style="padding-top:15px;">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-map"></i><span>&nbsp;&nbsp;Utility Payment Journal - Log Details</span></h3>
                    <div id="spinner" style="display: none;padding-top:50px; padding-bottom:20px; padding-left:100px;">
                        <img id="img-spinner" src="@Url.Content("~/Content/Images/spinner.gif")" alt="Loading" />
                    </div>
                </div>
                <div class="card-body">
                    <table id="summary" class="display compact table table-striped table-bordered mt-2">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.LogID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LogName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Year)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Month)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AgreementCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AgreementName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PremiseType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PremiseName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VendorCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LandlordName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EntryBy)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EntryDate)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="width:100px;">
                                        @Html.DisplayFor(modelItem => item.LogID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LogName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Year)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Month)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AliasCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AgreementName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PremiseType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PremiseName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VendorCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LandlordName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EntryBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EntryDate, "{0:dd/MM/yyyy}")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="button" class="btn btn-warning" style="float: right;"
                            id="btnFormBack" onclick="return BackValidator();">
                        <i class="fas fa-reply"></i>
                        <span>&nbsp;Back</span>
                    </button>
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>
<style type="text/css">
    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>
<style type="text/css" media="screen">
    #spinner {
        position: fixed;
        top: -18%;
        left: 30%;
    }
</style>

<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Template/plugins/jquery-ui/jquery-ui.js"></script>
<script src="~/Scripts/notify.js"></script>
<script src="~/Scripts/SweetAlert2/sweetalert2.all.min.js"></script>
<script src="~/Scripts/SweetAlert2/sweetalert2.min.js"></script>

<script src="~/Template/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Template/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Template/plugins/jszip/jszip.min.js"></script>
<script src="~/Template/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/Template/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/Template/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/Template/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/Template/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="~/Template/plugins/datatables-select/js/dataTables.select.min.js"></script>

<link href="~/Template/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
<link href="~/Template/plugins/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Template/plugins/buttons.dataTables.css" rel="stylesheet" />
<link href="~/Template/plugins/dataTables.bootstrap5.css" rel="stylesheet" />

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#spinner').show();
        var AlertMsg = @Html.Raw(Json.Encode(ViewBag.AlertMsg));
        if (AlertMsg != null) {
            $.notify(AlertMsg, {
                className: 'error',
                clickToHide: true,
                autoHide: false,
                globalPosition: 'right top'
            });
        }
        $('#summary').DataTable({
            responsive: true,
            AutoWidth: true,
            searching: true,
            pageLength: -1,
            paging: true,
            select: true,
            ordering: true,
            order: [[4, "asc"]],
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        });
        $('#spinner').hide();
    });
</script>
<script type="text/javascript">
    function BackValidator() {
        window.location.href = "/AgreementInfo/UtilityVendorPJPostLog";
    }
</script>