@model IEnumerable<RMS.Models.UserInfoDTO>
@{
    ViewBag.Title = "User Summary";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@Html.AntiForgeryToken()
<section class="content" style="padding-top:15px;">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card card-olive">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-users"></i>&nbsp;&nbsp;User Summary</h3>
                    <div id="spinner" style="display: none;padding-top:50px; padding-bottom:20px; padding-left:100px;">
                        <img id="img-spinner" src="@Url.Content("~/Content/Images/spinner.gif")" alt="Loading" />
                    </div>
                </div>
                <div class="card-body">
                    <table id="summary" class="display compact table table-striped table-bordered mt-2">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Total Number of Users")
                                </th>
                                <th>
                                    @Html.DisplayName("Total Active Users")
                                </th>
                                <th>
                                    @Html.DisplayName("Total InActive Users")
                                </th>
                                <th>
                                    @Html.DisplayName("Total Current Session")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalUser)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalActiveUser)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalInActiveUser)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalCurrentSession)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <span>Click the &nbsp;</span><span style="color:darkblue;" class="card-title fas fa-check-circle float-lg-none">&nbsp;Copy-Excel-PDF-Print-Column-Visibility</span><span>&nbsp; button at the top left to export the report.</span>
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>
<style type="text/css">
    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>
<style type="text/css" media="screen">
    #spinner {
        position: fixed;
        top: -18%;
        left: 30%;
    }
</style>

<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Template/plugins/jquery-ui/jquery-ui.js"></script>
<script src="~/Scripts/notify.js"></script>
<script src="~/Scripts/SweetAlert2/sweetalert2.all.min.js"></script>
<script src="~/Scripts/SweetAlert2/sweetalert2.min.js"></script>

<script src="~/Template/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Template/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Template/plugins/jszip/jszip.min.js"></script>
<script src="~/Template/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/Template/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/Template/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/Template/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/Template/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="~/Template/plugins/datatables-select/js/dataTables.select.min.js"></script>

<link href="~/Template/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
<link href="~/Template/plugins/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Template/plugins/buttons.dataTables.css" rel="stylesheet" />
<link href="~/Template/plugins/dataTables.bootstrap5.css" rel="stylesheet" />

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#spinner').show();
        $('#summary').DataTable({
            dom: 'Blfrtip',
            responsive: true,
            AutoWidth: true,
            select: true,
            searching: true,
            //pageLength: -1,
            paging: true,
            order: [[0, "asc"]],
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            buttons: [
                {
                    extend: 'copyHtml5',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excelHtml5',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                        //columns: [0, 1, 2, 5]
                    }
                },
                {
                    extend: 'print',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'colvis',
                    orientation: 'landscape',
                    collectionLayout: 'fixed three-column'
                }
            ],
        });
        $('#spinner').hide();
    });
</script>